<div class="col">
            <div class="card h-100">
                <div class="img">
                    <a href="/game/{{page_id}}">
                        <img src="{{data['image']}}"
                             class="my-card-img card-img-top" alt="...">
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title"><a href="/game/{{page_id}}" class="my-card-link">{{data['title']}}</a></h5>
                    <p class="card-text">{{ data['text'] }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>