{% extends "form_page.html" %}

{% block content%}

<div class="login-title h1 text-center">Registration</div>

<form class="row g-3 my-form" method="POST">
  {{ form.csrf_token }}
  <div class="col-md-6">
    <label for="input_email" class="form-label">Email</label>
    <!-- <input type="email" class="form-control" id="inputEmail4" placeholder=""> -->
    {{ form.input_email(class="form-control", placeholder="youremailadress@*.*") }}
  </div>
  <div class="col-md-6">
    <label for="input_username" class="form-label">Username</label>
    <!-- <input type="text" class="form-control" id="inputUsername" placeholder="Username"> -->
    {{ form.input_username(class="form-control", placeholder="Username") }}
  </div>
  <div class="col-12">
    <label for="input_password" class="form-label">Password</label>
    <!-- <input type="password" class="form-control" id="inputPassword" placeholder="********"> -->
    {{ form.input_password(class="form-control", placeholder="********") }}

  </div>
  <div class="col-12">
    <label for="input_password_confirm" class="form-label">Confirm password</label>
    <!-- <input type="password" class="form-control" id="inputPassword2" placeholder="********"> -->
    {{ form.input_password_confirm(class="form-control", placeholder="********") }}

  </div>

  <div class="col-12">
    <div class="form-check">
      <!-- <input class="form-check-input" type="checkbox" id="gridCheck"> -->
      {{ form.input_mailing(class="form-check-input") }}
      <label class="form-check-label" for="input_mailing">
        Подписаться на расслку
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-bgish">Register</button>
  </div>
</form>
<div class="h5 text-center"><a href="/login" class="my-card-link">Already have an account?</a></div>
{% endblock %}